<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>Observation</string>
				<key>details</key>
				<string>First, you need an observation of something. This allows for a question about it and a hypothesis to be made.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Question</string>
				<key>details</key>
				<string>You then need a question that you hope to answer in your investigation that is based off of your observations.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hypothesis</string>
				<key>details</key>
				<string>A hypothesis is what you think the answer to the question will be. This allows you to create an experiment to answer the question.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Prediction</string>
				<key>details</key>
				<string>Here, you make a prediction for how your experiment will turn out. This is not an answer to the question, just what you think will happen in the experiment.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Experiment</string>
				<key>details</key>
				<string>An experiment is then formulated using the multiple variables and hypothesis to do so.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Results</string>
				<key>details</key>
				<string>The experiment is done and the data is then collected to be anylized</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Analysis</string>
				<key>details</key>
				<string>The data from the experiment then discussed and a conclusion is made about whether or not the hypthesis was correct.</string>
			</dict>
		</array>
		<key>infoPrefix</key>
		<string>Steps</string>
		<key>type</key>
		<string>Process</string>
		<key>name</key>
		<string>Scientific Method</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>Independent Variable</string>
				<key>details</key>
				<string>The variable that you change in your experiment to effect the dependent variable</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Dependant Variable</string>
				<key>details</key>
				<string>The variable that you are focusing on and taking data on.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Controlled Variable</string>
				<key>details</key>
				<string>Also known as a constant, a controlled variable is a variable of the environment of testing that you keep constant or the same through out your experiment, like temperature or altitude</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Standardized Variable</string>
				<key>details</key>
				<string>Similar to a controlled variable, a standardized variable is a variable that you keep the same for all the tests, but is a little more general than a controlled variable. It encompasses the test subject (or object) and it&apos;s origin. Some examples are the speceise of animal or location that it came from.</string>
			</dict>
		</array>
		<key>infoPrefix</key>
		<string>Types</string>
		<key>type</key>
		<string>Sectioned</string>
		<key>name</key>
		<string>Variables</string>
	</dict>
</array>
</plist>
