<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>Observation</string>
				<key>details</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Question</string>
				<key>details</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hypothesis</string>
				<key>details</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Prediction</string>
				<key>details</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Experiment</string>
				<key>details</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Results</string>
				<key>details</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Analysis</string>
				<key>details</key>
				<string></string>
			</dict>
		</array>
		<key>type</key>
		<string>Process</string>
		<key>name</key>
		<string>Scientific Method</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Variables</string>
		<key>type</key>
		<string>Sectioned</string>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>Independent Variable</string>
				<key>details</key>
				<string>The variable that you change in your experiment to effect the dependent variable</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Dependant Variable</string>
				<key>details</key>
				<string>The variable that you are focusing on and taking data on.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Controlled Variable</string>
				<key>details</key>
				<string>Also known as a constant, a controlled variable is a variable of the environment of testing that you keep constant or the same through out your experiment, like temperature or altitude</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Standardized Variable</string>
				<key>details</key>
				<string>Similar to a controlled variable, a standardized variable is a variable that you keep the same for all the tests, but is a little more general than a controlled variable. It encompasses the test subject (or object) and it&apos;s origin. Some examples are the speceise of animal or location that it came from.</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
