<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Silicon</string>
		<key>abv</key>
		<string>Si</string>
		<key>atomicMass</key>
		<string>28.086</string>
		<key>atomicNumber</key>
		<string>14</string>
		<key>desc</key>
		<string>An element that is good for microchips. it is a semiconductor.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hydrogen</string>
		<key>abv</key>
		<string>H</string>
		<key>desc</key>
		<string>Also found in water, hydrogen is greek for &quot;water maker&quot;</string>
		<key>atomicMass</key>
		<string></string>
		<key>atomicNumber</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Helium</string>
		<key>abv</key>
		<string>He</string>
		<key>desc</key>
		<string>Makes your voice really high</string>
		<key>atomicMass</key>
		<string>4.0026</string>
		<key>atomicNumber</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lithium</string>
		<key>desc</key>
		<string></string>
		<key>abv</key>
		<string>Li</string>
		<key>atomicMass</key>
		<string>6.941</string>
		<key>atomicNumber</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Berylium</string>
		<key>desc</key>
		<string></string>
		<key>abv</key>
		<string>Be</string>
		<key>atomicMass</key>
		<string>9.0122</string>
		<key>atomicNumber</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Boron</string>
		<key>desc</key>
		<string></string>
		<key>abv</key>
		<string>B</string>
		<key>atomicMass</key>
		<string>10.811</string>
		<key>atomicNumber</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Carbon</string>
		<key>desc</key>
		<string></string>
		<key>abv</key>
		<string>C</string>
		<key>atomicMass</key>
		<string>12.011</string>
		<key>atomicNumber</key>
		<string>6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nitrogen</string>
		<key>desc</key>
		<string></string>
		<key>abv</key>
		<string>N</string>
		<key>atomicMass</key>
		<string>14.007</string>
		<key>atomicNumber</key>
		<string>7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oxygen</string>
		<key>desc</key>
		<string></string>
		<key>abv</key>
		<string>O</string>
		<key>atomicMass</key>
		<string>15.999</string>
		<key>atomicNumber</key>
		<string>8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Flourine</string>
		<key>desc</key>
		<string></string>
		<key>abv</key>
		<string>F</string>
		<key>atomicMass</key>
		<string>18.998</string>
		<key>atomicNumber</key>
		<string>9</string>
	</dict>
</array>
</plist>
