<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Silicon</string>
		<key>abv</key>
		<string>Si</string>
		<key>desc</key>
		<string>An element that is good for microchips</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hydrogen</string>
		<key>abv</key>
		<string>H</string>
		<key>desc</key>
		<string>Also found in water, or H20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Helium</string>
		<key>abv</key>
		<string>He</string>
		<key>desc</key>
		<string>Makes your voice really high</string>
	</dict>
</array>
</plist>
