<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>term</key>
		<string>Evolution</string>
		<key>def</key>
		<string>A process</string>
		<key>chapter</key>
		<string>13</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Natural Selection</string>
		<key>def</key>
		<string>A process where, when accidental mutations are made in organisms, nature selects out the best organisms with the best mutations, therefor bringing evolution to be possible.

Sometimes, these mutations will help in other ways. If a pandemic broke out, some of the organisms effected would have a mutation that protected them, and when the rest die off, the survivors will reproduce and pass down the gene.</string>
		<key>chapter</key>
		<string>13</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Population</string>
		<key>def</key>
		<string>A group of individuals of the same species living in the same place at the same time.</string>
		<key>chapter</key>
		<string>13</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Evolutionary adaptation</string>
		<key>def</key>
		<string>A population’s increase in the frequency of traits suitable to the environment.</string>
		<key>chapter</key>
		<string>13</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Fossil</string>
		<key>def</key>
		<string>A preserved imprint or remains of an organism that lived in the past. This happens when an animal dies and is either sinks in mud or is covered in silt from a water body. The more an more layers are piled on, and the weight turns the ground very hard, so that when the bones dissolve, the impression of the bones stays
	
Fossils can be date in what is called a fossil record, which is a concept where scientists can locate the fossil in the multiple layers of the ground, and compare it to other fossils in the many layers.</string>
		<key>chapter</key>
		<string>13</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Example</string>
		<key>def</key>
		<string>This is an example</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Analysis</string>
		<key>def</key>
		<string>The breakdown of something that is complex into smaller parts in such a way that leads to a better understanding of the whole. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Classify</string>
		<key>def</key>
		<string>Grouping things together based on specific characteristics.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Compare</string>
		<key>def</key>
		<string>To examine the different and/or similar characteristics of things or events.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Control</string>
		<key>def</key>
		<string>The group or subject that is used as a standard for comparison in an experiment. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Critical thinking</string>
		<key>def</key>
		<string>Thinking that uses specific sets of skills to carefully analyze problems step-bystep; scientific methods are one type of critical thinking. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Data</string>
		<key>def</key>
		<string>Information, measurements and materials gathered from observations that are used to help answer questions.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Experimental error</string>
		<key>def</key>
		<string>Incorrect data in an experiment that may result from a variety of causes.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Experiment</string>
		<key>def</key>
		<string>A test using observations and controlled variables to discover answers to questions, and/or to check a hypothesis.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Hypothesis</string>
		<key>def</key>
		<string>A testable explanation for observations and questions about the physical universe. Note: “hypothesis” is very similar to “prediction,” and the two words are often used interchangeably.) </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Inference</string>
		<key>def</key>
		<string>A logical explanation or conclusion based on observations and/or facts.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Measure</string>
		<key>def</key>
		<string>To compare the characteristics of something (such as mass, length, volume) with a standard (such as grams, meters, liters).</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
</array>
</plist>
