<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>term</key>
		<string>Evolution</string>
		<key>def</key>
		<string>A process</string>
		<key>chapter</key>
		<string>13</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Natural Selection</string>
		<key>def</key>
		<string>A process where, when accidental mutations are made in organisms, nature selects out the best organisms with the best mutations, therefor bringing evolution to be possible.

Sometimes, these mutations will help in other ways. If a pandemic broke out, some of the organisms effected would have a mutation that protected them, and when the rest die off, the survivors will reproduce and pass down the gene.</string>
		<key>chapter</key>
		<string>13</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Population</string>
		<key>def</key>
		<string>A group of individuals of the same species living in the same place at the same time.</string>
		<key>chapter</key>
		<string>13</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Evolutionary adaptation</string>
		<key>def</key>
		<string>A population’s increase in the frequency of traits suitable to the environment.</string>
		<key>chapter</key>
		<string>13</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Fossil</string>
		<key>def</key>
		<string>A preserved imprint or remains of an organism that lived in the past. This happens when an animal dies and is either sinks in mud or is covered in silt from a water body. The more an more layers are piled on, and the weight turns the ground very hard, so that when the bones dissolve, the impression of the bones stays
	
Fossils can be date in what is called a fossil record, which is a concept where scientists can locate the fossil in the multiple layers of the ground, and compare it to other fossils in the many layers.</string>
		<key>chapter</key>
		<string>13</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Example</string>
		<key>def</key>
		<string>This is an example</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Analysis</string>
		<key>def</key>
		<string>The breakdown of something that is complex into smaller parts in such a way that leads to a better understanding of the whole. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Classify</string>
		<key>def</key>
		<string>Grouping things together based on specific characteristics.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Compare</string>
		<key>def</key>
		<string>To examine the different and/or similar characteristics of things or events.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Control</string>
		<key>def</key>
		<string>The group or subject that is used as a standard for comparison in an experiment. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Critical thinking</string>
		<key>def</key>
		<string>Thinking that uses specific sets of skills to carefully analyze problems step-bystep; scientific methods are one type of critical thinking. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Data</string>
		<key>def</key>
		<string>Information, measurements and materials gathered from observations that are used to help answer questions.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Experimental error</string>
		<key>def</key>
		<string>Incorrect data in an experiment that may result from a variety of causes.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Experiment</string>
		<key>def</key>
		<string>A test using observations and controlled variables to discover answers to questions, and/or to check a hypothesis.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Hypothesis</string>
		<key>def</key>
		<string>A testable explanation for observations and questions about the physical universe. Note: “hypothesis” is very similar to “prediction,” and the two words are often used interchangeably.) </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Inference</string>
		<key>def</key>
		<string>A logical explanation or conclusion based on observations and/or facts.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Measure</string>
		<key>def</key>
		<string>To compare the characteristics of something (such as mass, length, volume) with a standard (such as grams, meters, liters).</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Methods</string>
		<key>def</key>
		<string>An ordered series of steps followed to help answer a question.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Nature</string>
		<key>def</key>
		<string>The entire physical universe. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Observation</string>
		<key>def</key>
		<string> Noticing objects or events using the five senses. (2) The data collected by using the five senses to learn about objects and events.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Prediction</string>
		<key>def</key>
		<string>A statement made about the future outcome of an experiment based on past experiences or observations. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Procedure</string>
		<key>def</key>
		<string>An ordered series of steps followed to help answer a question. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Qualitative data</string>
		<key>def</key>
		<string>Data that is based on observable characteristics of things or events that can be collected using the five senses. Example: “The juice tastes sweet to me.” </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Quantitative data</string>
		<key>def</key>
		<string>Data that is based on measurable characteristics of things or events such as mass, volume, length, and quantity. Example: “There is one liter of juice in the carton.”</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Repeated trials</string>
		<key>def</key>
		<string>Experimental tests done more than once. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Replication</string>
		<key>def</key>
		<string>Repeated trials on more than one subject, as well as controls, in experimental tests.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Science</string>
		<key>def</key>
		<string>The study of nature and the physical world using the methods of science, or a “special method of finding things out.”</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Scientist</string>
		<key>def</key>
		<string>A person who “does” science and uses the methods of science.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Scientific law</string>
		<key>def</key>
		<string>A generalized pattern in nature. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Scientific method(s)</string>
		<key>def</key>
		<string>A process of critical thinking that uses observations and experiments to investigate testable predictions about the physical universe. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Scientific theory</string>
		<key>def</key>
		<string>A causal explanation for generalized patterns in nature that is supported by much scientific evidence based on data collected using scientific methods.</string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Variation</string>
		<key>def</key>
		<string>Slight differences among objects, organisms or events that are all of the same basic type. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Variable</string>
		<key>def</key>
		<string>Something that can affect a system being examined, and is therefore a factor that may change in an experiment. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Variable, independent</string>
		<key>def</key>
		<string>A factor that can be changed or manipulated in an experiment by the scientist; “you change it” variables. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
	<dict>
		<key>term</key>
		<string>Variable, dependent</string>
		<key>def</key>
		<string>A factor that responds to changes in other variables in an experiment; “it changed” variables. </string>
		<key>chapter</key>
		<string>3</string>
	</dict>
</array>
</plist>
